{% extends "bootstrap/base.html" %}

{% block title %}Language Sparks Speech Services {% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for ('static', filename='favicon.ico') }}" type="image/x-icon" >
<link rel="icon" href="{{ url_for ('static', filename='favicon.ico') }}" type="image/x-icon" >
{% endblock %}

{% block navbar %}
<div class="navbar navbar-expand-lg navbar-light bg-light" role=navigation>
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}"><h1>Language Sparks Speech Services</h1>
        <p>MarjaWicks BA., MSC., SLP(C), Reg.CASLPO</p></a>
      </div>
    </div>
    <div class="navbar-collapse collapse" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <a class="nav-link" href="{{ url_for ('index') }}">Home</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{{ url_for ('services') }}">Services</a></li>
        <li class="nav-item"> <a class="nav-link" href="{{ url_for ('about') }}">About Me</a></li>
        <li class="nav-item"> <a class="nav-link" href="{{ url_for ('links') }}">Links & Resources</a></li>
        <li class="nav-item"> <a class="nav-link" href="{{ url_for ('contact') }}">Contact</a></li>
      </ul>
    </div>
  </div>
  {% endblock %}

{% block content %}
<div id="sidebar">
        <script src="news.js"></script>
</div>
<div class="container">
  {% block page_content %}{%endblock%}
</div>
<div class=footer>
  <p>Copyright &copy; Language Sparks Speech Services {{ moment().format('YYYY') }} | Designed by Ryan Wicks</p>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ moment.include_moment() }}
{% endblock %}
