{% extends "bootstrap/base.html" %}

{% block title %}Language Sparks Speech Services {% endblock %}

{% block head %}
{{ super() }}
<link href="{{ url_for ('static', filename='jumbotron-narrow.css') }}" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for ('static', filename='favicon.ico') }}" type="image/x-icon" >
<link rel="icon" href="{{ url_for ('static', filename='favicon.ico') }}" type="image/x-icon" >
<link rel="stylesheet" href="{{ url_for ('static', filename='style.css') }}">
{% endblock %}

{% block navbar %}
<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"> <a class="nav-link" href="{{ url_for ('index') }}">Home</a> </li>
        <li role="presentation"> <a class="nav-link" href="{{ url_for ('services') }}">Services</a></li>
        <li role="presentation"> <a class="nav-link" href="{{ url_for ('about') }}">About Me</a></li>
        <li role="presentation"> <a class="nav-link" href="{{ url_for ('links') }}">Links & Resources</a></li>
        <li role="presentation"> <a class="nav-link" href="{{ url_for ('contact') }}">Contact</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Language Sparks Speech Services</h3>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1>Language Sparks Speech Services</h1>
  <h2>Marja Wicks BA., MSC., SLP(C), Reg.CASLPO</h2>
</div>

<div id="row">
  <div class="col-lg-9">
    {% block page_content %}{%endblock%}
  </div>
  <div class="col-lg-3">
    <div class="news_sidebar">
      <script src="{{ url_for ('static', filename='news.js') }}"></script>
    </div>
  </div>
</div>

<div id="row">
  <div class='col-lg-12'>
    <br>
    {% block pre_footer %}{% endblock %}
  </div>
</div>
<footer class="footer">
  <p>Copyright &copy; Language Sparks Speech Services {{ moment().format('YYYY') }} | Designed by Ryan Wicks</p>
</footer>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ moment.include_moment() }}
{% endblock %}
