{% extends "base_template.html" %}

{% block page_content %}
<div id="page-header">
  <h1>Links and Resources</h1>
  <p></p>

  <ul>
    <li><a href=http://www.caslpo.com>College of Audiologists and Speech Language Pathologists of Ontario (CASLPO) </a></li> <br>
    <li><a href=http://www.sac-oac.ca>Speech-Language and Audiology Canada (SAC)</a></li> <br>
    <li><a href=https://www.osla.on.ca>Ontario Speech Language Association (OSLA)</a></li> <br>
            <li><a href=http://sydney.edu.au/health-sciences/asrc/docs/lp_brochure_online.pdf>Lidcombe Program for Early Stuttering Treatment (Brochure)</a></li> <br>
  </ul>
  </div>
</div>
{% endblock %}
