{% extends "base_template.html" %}

{% block page_content %}
<h1>What a Speech Pathologist does:</h1>
<p>Language Sparks speech therapy can help you in the following areas:</p>

<dl>
  <dt>Articulation or phonology</dt>
    <dd>A person may have difficulty understanding what a child is saying, even when they are speaking in full sentences.  They may be substituting sounds, or adding or deleting sounds to words.</dd>

  <dt>Comprehension or receptive language</dt>
    <dd>A person may have difficulty understanding what is being said, including following directions and understanding complex ideas.</dd>

  <dt>Expressive language</dt>
    <dd>A person may have difficulty putting a sentence together, or putting together a string of ideas or concepts (e.g., explaining steps in a procedure or telling story). </dd>

  <dt>Stuttering or dysfluency</dt>
    <dd>A person my stutter or have excessive hesitancies while talking.</dd>

  <dt>Voice</dt>
    <dd>A person’s voice may be chronically hoarse, or they may lose their voice from time to time.</dd>

  <dt>Apraxia</dt>
    <dd>A person may know what they want to say, but have difficulty getting their speech muscles to move in the desired pattern.</dd>

  <dt>Dysphagia</dt>
    <dd>A person may have difficulty swallowing food and/or liquid. May choke or cough while eating or have a sensation of “stuck” food.</dd>
</dl>
{% endblock %}
