{% extends "base_template.html" %}
{% set active_page = "main.about" %}

{% block page_content %}
<div id="page-header">
  <h1>About Marja Wicks</h1>
  <p>I received my B.A. in Linguistics from Queen’s University before
    heading west and getting my M.Sc. in Speech-Language Pathology at the
    University of British Columbia. During my time as a student at UBC, I
    interned with several speech-language pathology groups, including the
    Ottawa-Carleton District School Board, Surrey Memorial Hospital,
    Columbia Speech and Hearing, and SHARE Society. After graduation,
    I worked in the Richmond School District, providing direct therapy
    to students from kindergarten through grade 7. </p>

  <p>I have experience providing therapies for a variety of
    speech-language problems, ranging from articulation difficulties and
    language delays to Autism Spectrum Disorder, Asperger’s Syndrome,
    Down Syndrome, and other developmental delays.  I also have experience
    helping children who are non-verbal to communicate by providing
    alternate means of communication (both technology and non-technology
    based).  </p>

  <p>Every therapy session is based on the child’s individual needs
    and goals, with parent or caregiver participation welcomed.  I
    incorporate the use of manual signs and/or picture symbols into my
    sessions when it is appropriate, as this has been shown to aid
    language development. </p>

</div>
{% endblock %}
