{% extends "base_template.html" %}
{% set active_page = "main.index" %}

{% block page_content %}
<div id="page-header">
  <h1>Welcome To Language Sparks Speech Services</h1>
  <p>I provide speech and language intervention and therapy for pre-school and school aged children. Please see the <a href="{{ url_for ('main.services') }}">services</a> section for areas I can provide help with.</p>
  <p>I offer speech and language therapy for people in the cities of Kitchener, Waterloo and Cambridge and throughout the Waterloo Region.</p>
</div>
{% endblock %}
